/* 背景颜色 */

$body-bg-color: #fff;
$footer-bg-color:#5bbe8e;

/* 字体 */

$common-font-size:14px;
$big-font-size:24px;
$medium-font-size:16px;
$small-font-size:12px;
$mini-font-size:8px;

$common-font-color:#5bbe8e;/*普通字体颜色*/
$footer-color:#fff;